
node_modules/

build/
.eslintignore
.eslintrc.js
.gitattributes
yarn-error.log
yarn.lock
.babelrc
.travis.yml
appveyor.yml
build/111111111111111111111.exe
build/20200914-22-01.exe
build/20200914-22-46.exe
build/20200914带语音版本.exe
build/20200914版本.exe
build/22222222222222222.exe
build/23-53ban.exe
build/32位7-12.exe
build/33333333333333333.exe
build/444444444444444.exe
build/55555555555555555.exe
build/666666666666666666667.exe
build/7-12新功能.exe
build/7-13日安装包.exe
build/7-26安装包.exe
build/7-27安装包.exe
build/7-27浅色.exe
build/7-27浅色版本.exe
build/7-27深色.exe
build/7-28更新早餐计费版本.exe
build/7-28深色.exe
build/7-30新加值班功能版本.exe
build/7-31修复各项功能版.exe
build/8-10不带实时价格版本.exe
build/8-10带实时价格版本.exe
build/8-11-23;06.exe
build/8-11.exe
build/8-11带价格.exe
build/8-12-2039.exe
build/8-12.exe
build/8-12带人员照片显示框版本.exe
build/8-1深色全屏版本.exe
build/8-1版本.exe
build/8-1版本.rar
build/8-3版本.exe
build/8-4版本.exe
build/8-5版本.exe
build/8-6修复nan版本.exe
build/8-9改颜色版本.exe
build/8-9版本.exe
build/浅色7-28.exe
